<title> Foodstr - Sign up</title>

<div class="row main-container centered-items">

  <div class="col-md-6 image hidden-xs hidden-sm"></div>

  <div class="col-md-6 block">

    <div class="facebook">
      <a class="button-facebook" href="/auth/facebook"><i class="fa fa-facebook fa-fw"></i> Sign up with Facebook</a>
    </div>

    <div class="or-separator">
      <div class="or-line"></div>
      <div class="or-text">OR</div>
      <div class="or-line"></div>
    </div>

    <div class="email-signup">
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="username" class="form-input" placeholder="alain@ducasse.fr">
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" class="form-input" placeholder="Alain">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" class="form-input" placeholder="Ducasse">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-input" placeholder="123baguette">
      </div>

      <button type="submit" class="btn-success btn">Signup</button>
    </form><br>
  </div>
  </div>

</div>


<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
  <% } %>
