<title>Foodstr, find your next meal</title>

<% if (user) { %>

      <li><a href="/logout">Logout</a></li>

<% } else { %>


        <div class = "row value-proposition">
          <p class="value-proposition1">You care about what you eat and <br>want to <b>enjoy the best food in town</b>?</p>
          <p class="value-proposition2">Share your favorite restaurants and discover your friends' best places.</p>
        </div>

        <div class="row signup">
        <a href="/signup" class="btn btn-success signup-button align-middle">Join the crew!
        </a>
          <p class="headline">Eat better, for your pleasure</p>
        </div>

          <div class ="row arguments argument1">
            <div class="col-sm-6 image"></div>
            <div class="col-sm-6 text" ><b>Share</b> your <br> <b>favorite places</b> <br>with your friends</div>
          </div>

          <div class ="row arguments argument2">
            <div class="col-sm-6 image pull-right"></div>
            <div class="col-sm-6 text pull-left"><b>Discover</b> <br>your friends <br>recommended restaurants</div>

          </div>


<% } %>
