<title>Foodstr, find your next meal</title>

<div class="container">

    <div class = "row value-proposition">
      <p class="value-proposition1">You care about what you eat and <br>want to <b>enjoy the best food in town</b>?</p>
      <p class="value-proposition2">Share your favorite restaurants and discover your friends' best places.</p>
    </div>

    <div class="row signup">
    <a href="/signup" class="btn btn-success signup-button align-middle">Join the crew!
    </a>
      <p class="headline">Eat better, for your pleasure</p>
    </div>

    <div class="row arguments">
      <p>Save your favorite places with your friends</p>
      <p>Discover your friends recommended restaurants</p>
    </div>

</div>
