<title>Foodstr</title>

<% if (typeof user != "undefined") { %>
  <h1>Hello <%= user.firstName %>!</h1>
<% } %>

<p>Content!</p>

<a href="/new">Add a new place!</a><br><br>


<form action="/logout" method="POST">
<button class="btn btn-link btn-logout" type="submit">Log out</button>
</form>
