  <style>

    #main-container {
      margin-top: 55px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 767px){
      #main-container {
        margin-left: 0;   
      }
    }
     #map {
      height: 400px;
      width: 60%;
     }

     #pac-input {
       background-color: #fff;
       font-family: Roboto;
       font-size: 18px;
       font-weight: 300;
       padding: 0 11px 0 13px;
       text-overflow: ellipsis;
       text-align: center;
       width: 500px;
       border-top: none;
       border-left: none;
       border-right: none;
       border-bottom: 1px solid gray;
     }

     #pac-input:focus {
       border: none;
     }

    #details{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .add-place-btn {
      width: 100px;
      display: block;
      text-decoration: none;
      color: black;
      background-color: transparent;
      border: solid 1px gray;
      border-radius: 3px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      font-family: Roboto;
      padding: 4px 2px;
      margin-left: 20px;
      margin-top: 10px;
    }



    #infowindow-content {
      display: none;
    }

    #photo-block  {
      display: flex;
      justify-content: center;
      width: 80%;
      align-items: center;
    }

    #details-pic-1, #details-pic-2, #details-pic-3 {
      display: block;
      height: 200px;
      margin: 0 5px;
    }

    hr {
      width: 80%;
    }

  </style>

<title><%= title %></title>

<div id="main-container">


  <% if (typeof message != "undefined") { %>
    <h2><%= message %></h2>
  <% } %>
  <br><br>

  <div id="pac-container">
    <input id="pac-input" type="text"
        placeholder="Type a location here">
  </div>

  <br><br>

  <!-- Map and infowindow -->
  <div id="map"></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
    <a href="#details" id="add-place-btn" class="add-place-btn"></a>
  </div>
  <!-- Map and infowindow -->



  <!-- Details section -->
  <div id="details">

    <hr>

    <h3 id="details-name"></h3>
    <p id="details-address"></p>

    <br>

    <div id="photo-block">
      <img id="details-pic-1" src="">
      <img id="details-pic-2" src="">
      <img id="details-pic-3" src="">
    </div>
    <br>

    <form id="details-form" action="/new" method="POST">

      <input type="radio" name="status" id="beenThere" value="true">
      <label for="beenThere">Add to my favorite places</label><br>

      <input type="radio" name="status" id="toTry" value="false">
      <label for="toTry">Add to my wish list</label>

      <!-- hidden fields -->
      <input type="hidden" name="name" id="name">
      <input type="hidden" name="address" id="address">
      <input type="hidden" name="googlePlaceId" id="googlePlaceId">
      <input type="hidden" name="photo" id="photo">
      <input type="hidden" name="lat" id="lat">
      <input type="hidden" name="lng" id="lng">
      <!-- hidden fields -->

      <br><br>

      <button type="submit" class="add-place-btn">Add place</button>
    </form>

  </div>
  <!-- Details section -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDPUH7jr-6r-tgbqKjsJJ6zB-ZmG2tyAs&libraries=places"></script>
  <script type="text/javascript" src="/javascripts/new.js"></script>

</div>
