<style>

   #map {
    height: 500px;
    width: 100%;
   }

   #pac-input {
     background-color: #fff;
     font-family: Roboto;
     font-size: 15px;
     font-weight: 300;
     padding: 0 11px 0 13px;
     text-overflow: ellipsis;
     width: 400px;
   }

  #details{
    height: 1000px;
  }

  div a {
    display: block;
    text-decoration: none;
    background-color: #FFFF66;
    border: none;
    border-radius: 4px;
  }


</style>

<title>New place</title>

<h1>Tell me about this place, <%= user.firstName %>!</h1>

<div id="pac-container">
  <input id="pac-input" type="text"
      placeholder="Enter a location">
</div>

<br><br>

<!-- Map and infowindow -->
<div id="map"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span><br><br>
  <a href="#details">Add place</a>
</div>


<div id="details">

  <p>add details here</p>
  <form action="/new" method="POST">
    <button type="submit">Add place</button>
  </form>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDPUH7jr-6r-tgbqKjsJJ6zB-ZmG2tyAs&libraries=places"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
